$primary: #004876;
$secondary: #6c757d;
$success: #10713D;
$info: darken(#004876, 20%);
$warning: #8C5C03;
$danger: #9E2821;
$light: #f8f9fa;

@import '~bootstrap/scss/bootstrap';        // primary bootstrap library
